.sidebar{
    width: 275px;
}

.sidebar .logo{
    padding: 20px 25px;
}
.sidebar .logo img {
    height: 40px;
}
.sidebar .nav{
    padding: 50px 35px;
}
.sidebar .nav li {}
.sidebar .nav li a{
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 6px;
}
.sidebar .nav li a img { height: 14px;}
.stats-box img { 
    height: 16px;
    margin-bottom: 10px;    
}
.updated-course img { height: 20px;}
.sidebar .nav li a h2{margin-left: 8px;}
.sidebar .nav li a .lbl{}

.sidebar .nav li a.on{
    border-left: 2px #ea5252 solid;
    color: #ea5252;
    line-height: 1;
}
.sidebar .updated-course{
    padding: 0px 35px;
    /* margin: 20px 0px; */
}
.sidebar .updated-course .ico{
    color: white;
    background-color: #ea5252;
    padding: 10px;
    position: relative;
    top: 6px;
    margin-right: 8px;
    border-radius: 20px;
}
.sidebar .stats{margin: 30px 20px;}
.sidebar .stats .stats-box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.sidebar .me{
    padding: 20px 40px;
}
.sidebar .me .photo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    background: #eee;
}
.sidebar .me img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.app-content{
    flex: 2;
    padding: 20px 0px;
}

/* Home Page section CSS */

.home-page{}
.home-page .section{}
.home-page .section .title{margin-bottom: 20px;}
.home-page .section .tutors{}
.home-page .section .tutors .tutor{
    border: 2px solid #ea5252;
    background: #fff;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 50px;
    padding: 0px;
}
.home-page .section .tutors .tutor img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.home-page .section .tutors .tutor:hover{}

.home-page .section-b{
    margin-top: 50px;
}
.home-page .section .course .block{
    width: 250px;
    height: 375px;
    background: #e2e2e2;
    border-radius: 30px;
    margin-right: 25px;
    background-size: cover !important;
}
.home-page .section .course .block .user{
    padding: 5px 20px;
    z-index: 1;
}
.home-page .section .course .block .user .pic{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.home-page .section .course .block .user .pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.home-page .section .course .block .dura{
    top: 70px;
    left: 20px;
    background: #ea5252;
    line-height: 1;
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow:  0px 2px 1px rgba(0, 0, 0, 0.33);
    z-index: 1;
}
.home-page .section .course .block .course-title{
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 15px 20px;
    border-radius: 20px;
    background: rgba(87, 86, 165, 0.33);
    text-shadow: 1px 1px 1px rgb(94, 116, 214);
}