body{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
.flex{display: flex;}
.fixed{display: fixed;}

ul, ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.bl{display: block;}

.noul{text-decoration: none;}

.c333{color: #333;}
.s15{font-size: 15px;}
.s20{font-size: 20px;}
.s24{font-size: 24px;}